{% extends 'AcmeUserBundle:User:layout.html.twig' %}

{% block title %}
{{ parent() }} - {{ 'views.new.creation'|trans({'%entity%': 'Obra'}, 'JordiLlonchCrudGeneratorBundle') }}
{% endblock %}

{% block page %}

<h1>{{ 'views.new.creation'|trans({'%entity%': 'Obra'}, 'JordiLlonchCrudGeneratorBundle') }}</h1>

<form class="well" action="{{ path('admin_obras_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_row(form.nombre) }}
    {{ form_row(form.descripcion) }}
    {{ form_row(form.foto) }}
    </div>
    <h3>Fechas en que se va a publicar la obra</h3>
    <div class="col-md-3 well">
    <ul class="fechasobra" data-prototype="{{ form_widget(form.fechasobra.vars.prototype)|e }}">
        {# iterate over each existing tag and render its only field: name #}
        {% for fec in form.fechasobra %}
            <li>{{ form_row(fec.fecha) }}</li>
        {% endfor %}
    </ul>
    </div>
    <p>
        <button type="submit" class="btn btn-success">{{ 'views.new.create'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</button>
    </p>
{{ form_end(form) }}
<div>
    <div class="float-left">
        <a class="btn" href="{{ path('admin_obras') }}">
            {{ 'views.recordactions.backtothelist'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
        </a>
    </div>
</div>
<script>
    // setup an "add a tag" link
var $addTagLink = $('<a href="#" class="add_fechaobra_link">Agregar una fecha</a>');
var $newLinkLi = $('<li></li>').append($addTagLink);

jQuery(document).ready(function() {
    // Get the ul that holds the collection of tags
   var $collectionHolder = $('ul.fechasobra');

    // add the "add a tag" anchor and li to the tags ul
    $collectionHolder.append($newLinkLi);

    // count the current form inputs we have (e.g. 2), use that as the new
    // index when inserting a new item (e.g. 2)
    $collectionHolder.data('index', $collectionHolder.find(':input').length);

    $addTagLink.on('click', function(e) {
        // prevent the link from creating a "#" on the URL
        e.preventDefault();

        // add a new tag form (see code block below)
        addTagForm($collectionHolder, $newLinkLi);
    });


});

function addTagForm($collectionHolder, $newLinkLi) {
    // Get the data-prototype explained earlier
    var prototype = $collectionHolder.data('prototype');

    // get the new index
    var index = $collectionHolder.data('index');

    // Replace '$$name$$' in the prototype's HTML to
    // instead be a number based on how many items we have
    var newForm = prototype.replace(/__name__/g, index);

    // increase the index with one for the next item
    $collectionHolder.data('index', index + 1);

    // Display the form in the page in an li, before the "Add a tag" link li
    var $newFormLi = $('<li></li>').append(newForm);

    // also add a remove button, just for this example
    $newFormLi.append('<a href="#" class="remove-fechaobra">x</a>');

    $newLinkLi.before($newFormLi);

    // handle the removal, just for this example
    $('.remove-fechaobra').click(function(e) {
        e.preventDefault();

        $(this).parent().remove();

        return false;
    });
}
</script>
{% endblock %}